<template>
  <section class="container">
    <div>
      <h1 class="title">
        {{ user.email }}
      </h1>
      <div><nuxt-link to="login">请登录</nuxt-link></div>
    </div>
  </section>
</template>

<script>
export default {
  async asyncData({ app }) {
    const user = await app.$axios.$get('/user')
    return { user }
  }
}
</script>

<style>
</style>
