<template>
  <el-form
    ref="form"
    :model="form"
    label-width="80px">
    <el-form-item label="email">
      <el-input
        v-model="form.email" />
    </el-form-item>
    <el-form-item label="密码">
      <el-input
        v-model="form.password"
        type="password" />
    </el-form-item>
    <el-form-item label="验证码">
      <el-input
        v-model="form.captcha" />
      <img :src="captchaUrl">
    </el-form-item>
    <el-form-item>
      <el-button
        type="primary"
        @click="onSubmit">立即创建</el-button>
      <el-button>取消</el-button>
    </el-form-item>
  </el-form>
</template>
<script>
import CRC32 from '~/utils/crc32'
const crc32 = new CRC32()
export default {
  data() {
    return {
      form: {
        email: '',
        password: '',
        captcha: '',
        remember: 1
      },
      captchaUrl: '/api/captcha'
    }
  },
  methods: {
    onSubmit() {
      const { email, password, remember, captcha } = this.form
      this.$axios.$post('/api/login', {
        email,
        password,
        remember,
        captcha,
        crc32: '' + crc32.crc32_str(email + password + remember)
      })
    }
  }
}
</script>
<style scoped>
</style>
